# Node & Frontend
node_modules/
frontend/dist/
frontend/.env
*.log

# Python & Backend
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/data/infrastructure/*.geojson
.pytest_cache/

# IDE / System
.DS_Store
.vscode/
.idea/
